@page
@model Abiru.Pages.BusquedaModel
@{
}
<div class="container">
    <div class="row">
        <div class="col-sm">
            <label>Nombre</label>
            <input />
        </div>
        <div class="col-sm">
            <label>Grado de instrucción:</label>
            <select class="form-control" id="exampleFormControlSelect1">
                <option>Select</option>
                <option>Inicial</option>
                <option>Primaria</option>
                <option>Secundaria</option>
            </select>
        </div>
        <div class="col-sm">
            <label>Público o Privado:</label>
            <select class="form-control" id="exampleFormControlSelect1">
                <option>Select</option>
                <option>Público</option>
                <option>Privada</option>
            </select>
        </div>
        <div class="col-sm">
            <label>Rango de precios</label>
            <input type="range" min="1" max="100" value="50" class="form-control-range" id="formControlRange">
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="row">
            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                    <div class="row">
                        <div class="col">
                            <img />
                        </div>
                        <div class="col">
                            <h3>Nombre de la IE</h3>
                            <p>Ubicación:</p>
                            <p>Tipo de colegio:</p>
                            <p>Detalle</p>
                            <p>Cantidad de cupos:</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
