@page
@model Abiru.Pages.ContactoModel
@{
}
<div class="text-center">
    <div class="container">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <h4>Telefono fijo:</h4>
                <p><a href="tel:010000000">(01)555 5555</a></p>
            </li>
            <li class="list-group-item">
                <h4>Correo corporativo</h4>
                <p><a href="mailto:ayudaAbiru@gmail.com">ayudaAbiru@gmail.com</a></p>
            </li>
            <li class="list-group-item">
                <h4>WhatsApp</h4>
                <p><a href="http://wa.me/924804297">924 804 297</a></p>
            </li>

        </ul>
    </div>
</div>