@page
@model Abiru.Pages.DirectorioModel
@{
}
<div class="container">
    <h2>Bienvenido(a) Nombre de usuario</h2>
    <br />
    <h1>Listado de colegios por distrito</h1>
    <br />
    <table class="text-center border">
        <tr class="border-bottom">
            <th class="col-sm-4">Distrito</th>
            <th class="col-sm-7">Cantidad de colegios</th>
            <th class="col-sm-4">Colegios disponibles</th>
        </tr>
        <tr>
            <td>Nombre distrito</td>
            <td>
                <p>Colegios públicos: </p>
                <p>Colegios privadors: </p>
            </td>
            <td>
                <button type="button" class="btn btn-primary">Ver</button>
                <button type="button" class="btn btn-primary">Ver</button>
            </td>
        </tr>
    </table>
</div>