@page
@model Abiru.Pages.FAQModel
@{
}
<div class="container">
    <div class="row">
        <div class="col">
            <h2>Preguntas Frecuentes:</h2>
            <br /><br />
            <h3>¿Pregunta 1?</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Nulla quam velit, vulputate eu pharetra nec, mattis ac neque.
                Duis vulputate commodo lectus, ac blandit elit tincidunt id.
                Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit,
                et lacinia ipsum guam nec
            </p
            <br />
            <h3>¿Pregunta 1?</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Nulla quam velit, vulputate eu pharetra nec, mattis ac neque.
                Duis vulputate commodo lectus, ac blandit elit tincidunt id.
                Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit,
                et lacinia ipsum guam nec
            </p
            <br />
            <h3>¿Pregunta 1?</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Nulla quam velit, vulputate eu pharetra nec, mattis ac neque.
                Duis vulputate commodo lectus, ac blandit elit tincidunt id.
                Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit,
                et lacinia ipsum guam nec
            </p
            <br />
        </div>
        <div class="col">
            <h2>Tutorial</h2>
            <h3>¿Pregunta 1?</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Nulla quam velit, vulputate eu pharetra nec, mattis ac neque.
                Duis vulputate commodo lectus, ac blandit elit tincidunt id.
                Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit,
                et lacinia ipsum guam nec
            </p
            <br />
        </div>
    </div>
</div>