@page
@model Abiru.Pages.HomeAdminModel
@{
}
<div class="container">
    <h1>Bienvenido GetName</h1>
    <br />
    <div class="text-center">
        <h2>Funciones:</h2>
        <div class="row">
            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Modificación de Distritos</h5>
                        <p class="card-text">En el presente módulo se podra editar/agregar distritos en caso sea necesario.</p>
                        <a href="#" class="btn btn-primary">Modificar Distritos</a>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Modificación Colegios</h5>
                        <p class="card-text">En el presente módulo se podra modificar/agregar colegios de acuerdo al caso.</p>
                        <a href="#" class="btn btn-primary">Modificar colegio</a><br />
                        <a href="#" class="btn btn-primary">Agregar colegio</a>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Gestión de tickets</h5>
                        <p class="card-text">En el presente módulo se podra revisar los tickets y errores generados</p>
                        <a href="#" class="btn btn-primary">Gestión de tickets</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>