@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div id="app" class="text-center">
    <br /><br />
    <div class="card">
        <div class="card-body">
            <h1 style="align-content: center">Abiru</h1>
            <h2 style="align-content: center">Sistema escolar para la matricula estudiantil</h2>
            <div class="btn-group mr-2" role="group" aria-label="First group">
                <button type="button" class="btn btn-secondary">Directorio</button>
                <button type="button" class="btn btn-secondary">Colegios</button>
                <button type="button" class="btn btn-secondary">Cuestionario</button>
                <button type="button" class="btn btn-secondary">Soporte técnico</button>
            </div>
        </div>
    </div>
    <br /><br />
    <div class="container">
        <div class="row">
            <div class="col">
                <h3>Acerca de nosotros:</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Vivamus pellentesque ultrices leo at tempus. Nullam vel quam tempor, pulvinar quam quis, ornare velit.
                    Maecenas eu tincidunt ipsum. Donec turpis ex, blandit malesuada sapien nec, euismod fringilla nisi.
                    Nullam venenatis nisi in ligula ullamcorper, eget imperdiet diam egestas. Suspendisse euismod, metus
                    a ultrices molestie, diam tortor congue ante, ut viverra nibh lacus sit amet magna. Ut velit enim,
                </p>
                <br />
                <h3>¿Por qué elegirnos?</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Vivamus pellentesque ultrices leo at tempus. Nullam vel quam tempor, pulvinar quam quis, ornare velit.
                    Maecenas eu tincidunt ipsum. Donec turpis ex, blandit malesuada sapien nec, euismod fringilla nisi.
                    Nullam venenatis nisi in ligula ullamcorper, eget imperdiet diam egestas. Suspendisse euismod, metus
                </p>
            </div>
            <div class="col">
                <img src="~/lib/imgs/imgindex.jpeg" style="width: auto"/>
            </div>
        </div>
    </div>
</div>

