@page
@model Abiru.Pages.NosotrosModel
@{
}

<div class="text-center">
    <div class="container">
        <div class="row">
            <div class="col-8"><img src="~/lib/imgs/valores.jpg" style="width: 700px;" /></div>
            <div class="col-4"><img src="~/lib/imgs/abiru.png" style="width: 350px" /></div>
        </div>
        <div class="row">
            <div class="col">
                <h4>¿Quienes somos?</h4>
                <p>
                    Vivamus pellentesque ultrices leo at tempus. Nullam vel quam tempor, pulvinar quam quis, ornare velit.
                    Maecenas eu tincidunt ipsum. Donec turpis ex, blandit malesuada sapien nec, euismod fringilla nisi.
                    Nullam venenatis nisi in ligula ullamcorper, eget imperdiet diam egestas. Suspendisse euismod, metus
                    a ultrices molestie, diam tortor congue ante, ut viverra nibh lacus sit amet magna.
                </p>
            </div>
            <div class="col">
                <h4>Nuestro objetivo:</h4>
                <p>
                    Vivamus pellentesque ultrices leo at tempus. Nullam vel quam tempor, pulvinar quam quis, ornare velit.
                    Maecenas eu tincidunt ipsum. Donec turpis ex, blandit malesuada sapien nec, euismod fringilla nisi.
                    Nullam venenatis nisi in ligula ullamcorper, eget imperdiet diam egestas. Suspendisse euismod, metus
                    a ultrices molestie, diam tortor congue ante, ut viverra nibh lacus sit amet magna.
                </p>
            </div>
            <div class="col">
                <h4>Ubicanos:</h4>
            </div>
        </div>
    </div>
</div>


