@page
@model Abiru.Pages.SoporteModel
@{
}
<div class="container">
    <div class="card" style="width: 18rem;">
        <div class="row">
            <div class="col-sm">
                <h2 class="text-center">Contactar a Soporte</h2>
                <label>Motivo de consulta:</label>
                <input />
                <br />
                <label>Detalle:</label>
                <textarea></textarea>
            </div>
            <div class="col-sm">
                <h2 class="text-center">Reporte de Errores</h2>
                <label>Motivo de consulta:</label>
                <input />
                <br />
                <label>Detalle:</label>
                <textarea></textarea>
            </div>
        </div>
    </div>
</div>